<footer class="footer">
    <small>
        <%= link_to "CMS",   root_path %>
        © 2013 CMS
    </small>
    <nav>
        <ul>
            <li><%= link_to "关于",   '#' %></li>
            <li><%= link_to "联系",   '#' %></li>
            <li><%= link_to "加入",   '#' %></li>
        </ul>
    </nav>
</footer>
